## Imports

In [4]:
import tensorflow as tf

In [6]:
import pandas as pd
import os

In [3]:
import torch
print("CUDA disponible:", torch.cuda.is_available())
print("Versión PyTorch:", torch.__version__)
print("Versión CUDA usada:", torch.version.cuda)
print("Dispositivo:", torch.cuda.get_device_name(0))

CUDA disponible: True
Versión PyTorch: 2.5.1+cu121
Versión CUDA usada: 12.1
Dispositivo: NVIDIA GeForce RTX 3050 Laptop GPU

In [8]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("robikscube/textocr-text-extraction-from-images-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\andre\.cache\kagglehub\datasets\robikscube\textocr-text-extraction-from-images-dataset\versions\2

## Manejo de archivo csv

In [9]:
print("Carpetas dentro: ", os.listdir(path))

Carpetas dentro:  ['annot.csv', 'annot.parquet', 'img.csv', 'img.parquet', 'TextOCR_0.1_train.json', 'train_val_images']

In [20]:
annot = pd.read_csv(path + '/annot.csv')
annot.head(5)

,Unnamed: 0,id,image_id,bbox,utf8_string,points,area
0,0,a4ea732cd3d5948a_1,a4ea732cd3d5948a,"[525.83, 3.4, 197.64, 33.94]",Performance,"[525.83, 3.4, 723.47, 7.29, 722.76, 36.99, 525...",6707.90
1,1,a4ea732cd3d5948a_2,a4ea732cd3d5948a,"[534.67, 64.68, 91.22, 38.19]",Sport,"[535.73, 64.68, 623.41, 67.51, 625.89, 102.87,...",3483.69
2,2,a4ea732cd3d5948a_3,a4ea732cd3d5948a,"[626.95, 63.62, 96.52, 31.82]",Watch,"[626.95, 63.62, 721.7, 63.62, 723.47, 95.44, 6...",3071.27
3,3,a4ea732cd3d5948a_4,a4ea732cd3d5948a,"[577.4, 141.87, 147.13, 43.1]",...period.,"[580.02, 143.61, 724.53, 141.87, 723.66, 184.9...",6341.30
4,4,a4ea732cd3d5948a_5,a4ea732cd3d5948a,"[391.03, 163.9, 60.82, 38.65]",.,"[395.2, 163.9, 451.85, 191.94, 445.59, 202.55,...",2350.69

In [ ]:
info = pd.read_csv(path + '/img.csv')
info.head(5)

,Unnamed: 0,id,width,height,set,file_name
0,0,a4ea732cd3d5948a,840,1024,train,train/a4ea732cd3d5948a.jpg
1,1,4bf43a7b2a898044,1024,683,train,train/4bf43a7b2a898044.jpg
2,2,1b55b309b0f50d02,1024,683,train,train/1b55b309b0f50d02.jpg
3,3,00c359f294f7dcd9,1024,680,train,train/00c359f294f7dcd9.jpg
4,4,04b5a37f762b0f51,768,1024,train,train/04b5a37f762b0f51.jpg

In [17]:
info = info.rename(columns={'id': 'image_id'})
info.head(5)

,Unnamed: 0,image_id,width,height,set,file_name
0,0,a4ea732cd3d5948a,840,1024,train,train/a4ea732cd3d5948a.jpg
1,1,4bf43a7b2a898044,1024,683,train,train/4bf43a7b2a898044.jpg
2,2,1b55b309b0f50d02,1024,683,train,train/1b55b309b0f50d02.jpg
3,3,00c359f294f7dcd9,1024,680,train,train/00c359f294f7dcd9.jpg
4,4,04b5a37f762b0f51,768,1024,train,train/04b5a37f762b0f51.jpg

In [ ]:
info.drop_duplicates(subset=['image_id'], keep='first', inplace=True)
annot.drop_duplicates(subset=['image_id'], keep='first', inplace=True)
print("Cantidad de anotaciones:", len(annot))
print("Cantidad de imágenes:", len(info))

Cantidad de anotaciones: 1052354
Cantidad de imágenes: 21778

In [26]:
info.drop_duplicates(subset=['image_id'], keep='first', inplace=True)
annot.drop_duplicates(subset=['image_id'], keep='first', inplace=True)
print("Cantidad de anotaciones:", len(annot))
print("Cantidad de imágenes:", len(info))

Cantidad de anotaciones: 21778
Cantidad de imágenes: 21778

In [27]:
img_info = pd.merge(annot, info, how = 'inner', on = 'image_id')
img_info.tail(5)

,Unnamed: 0_x,id,image_id,bbox,utf8_string,points,area,Unnamed: 0_y,width,height,set,file_name
21773,1052200,d13b7ec72bd5eed5_1,d13b7ec72bd5eed5,"[517.02, 355.52, 74.5, 77.5]",FOR,"[517.02, 355.52, 591.02, 355.52, 591.52, 432.5...",5773.75,21773,1024,683,train,train/d13b7ec72bd5eed5.jpg
21774,1052214,0022933cdceee189_1,0022933cdceee189,"[-0.11, 215.6, 43.2, 47.87]",20,"[1.06, 215.6, 43.09, 215.6, 43.09, 259.97, -0....",2067.98,21774,1024,554,train,train/0022933cdceee189.jpg
21775,1052266,6029c75e0325d164_1,6029c75e0325d164,"[486.62, 71.33, 163.65, 66.23]",ORIOLES,"[486.62, 71.65, 650.27, 71.33, 649.95, 137.56,...",10838.54,21775,1024,768,train,train/6029c75e0325d164.jpg
21776,1052335,0ebbecdc46b78d42_1,0ebbecdc46b78d42,"[915.45, 15.84, 67.75, 87.95]",A,"[915.45, 15.84, 982.89, 15.84, 983.2, 103.79, ...",5958.61,21776,1024,681,train,train/0ebbecdc46b78d42.jpg
21777,1052350,a37e1fb026b80a6d_1,a37e1fb026b80a6d,"[331.69, 462.84, 417.31, 201.08]",RÖR,"[331.69, 466.97, 749.0, 462.84, 749.0, 659.79,...",83912.69,21777,1024,683,train,train/a37e1fb026b80a6d.jpg

In [28]:
print("Cantidad de anotaciones e imágenes combinadas:", len(img_info))

Cantidad de anotaciones e imágenes combinadas: 21778

In [29]:
img_info = img_info.drop(columns = ['Unnamed: 0_x', 'id', 'set'])
img_info = img_info.rename(columns={'Unnamed: 0_y': 'img_num'})
img_info.head(5)

,image_id,bbox,utf8_string,points,area,img_num,width,height,file_name
0,a4ea732cd3d5948a,"[525.83, 3.4, 197.64, 33.94]",Performance,"[525.83, 3.4, 723.47, 7.29, 722.76, 36.99, 525...",6707.90,0,840,1024,train/a4ea732cd3d5948a.jpg
1,4bf43a7b2a898044,"[429.44, 163.75, 27.52, 13.0]",400,"[429.44, 163.75, 456.74, 163.75, 456.96, 176.5...",357.76,1,1024,683,train/4bf43a7b2a898044.jpg
2,1b55b309b0f50d02,"[564.0, 328.58, 103.5, 41.15]",CAOL,"[564.96, 328.58, 667.5, 338.55, 667.18, 369.73...",4259.02,2,1024,683,train/1b55b309b0f50d02.jpg
3,00c359f294f7dcd9,"[322.37, 368.64, 118.63, 51.07]",G-ATCO,"[322.37, 391.39, 436.35, 368.64, 441.0, 400.44...",6058.43,3,1024,680,train/00c359f294f7dcd9.jpg
4,04b5a37f762b0f51,"[217.83, 302.27, 98.68, 45.38]",OUR,"[218.66, 302.27, 316.51, 303.52, 315.68, 347.6...",4478.10,4,768,1024,train/04b5a37f762b0f51.jpg

In [30]:
img_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21778 entries, 0 to 21777
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   image_id     21778 non-null  object
 1   bbox         21778 non-null  object
 2   utf8_string  21774 non-null  object
 3   points       21778 non-null  object
 4   area         21778 non-null  float64
 5   img_num      21778 non-null  int64
 6   width        21778 non-null  int64
 7   height       21778 non-null  int64
 8   file_name    21778 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 1.5+ MB

In [31]:
img_info.describe()

                area       img_num         width        height
count   21778.000000  21778.000000  21778.000000  21778.000000
mean    11161.740411  10888.500000    948.640096    817.007439
std     29321.633196   6286.911417    152.755971    163.140660
min        14.560000      0.000000    259.000000    257.000000
25%       832.292500   5444.250000    956.250000    683.000000
50%      2610.220000  10888.500000   1024.000000    768.000000
75%      8802.987500  16332.750000   1024.000000   1024.000000
max    808531.050000  21777.000000   6000.000000   4608.000000

## Lectura de imágenes